# Python cache
__pycache__/
*.pyc

# Virtual env / local configs
.env
.venv/

# Model weights (Keep these in models/ if small, but ignore generic ones)
# *.pt
# *.onnx
# *.tflite

# Training / runtime outputs
**/runs/
**/*.mp4
**/*.log
ml/training/training_output.log
ml/training/tree.txt

# Datasets
**/data/
ml/training/data/

# Binary blobs
**/*.npy

# OS files
.DS_Store

# IDEs
.vscode/
.idea/

